<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.shellwax.shlaunchonfigtype">
    <stringAttribute key="org.eclipse.debug.core.ATTR_WORKING_DIRECTORY" value="C:/Users/upandeti/Desktop/uday/job5/script"/>
    <stringAttribute key="org.eclipse.shellwax.launch.program" value="C:/Users/upandeti/Desktop/uday/job5/script/job5.sh"/>
</launchConfiguration>
